name: .NET

on:
  push:
    branches: [ master, developer ]
  pull_request:
    branches: [ master ]

jobs:
  firstJob:
    name: UbuntuJob
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Super-Linter
      uses: github/super-linter@v4.8.1
      env:
        FILTER_REGEX_EXCLUDE: "(.*Migrations/.*|/.github/)"
  secondJob:
     name: WindowsAndMac
     runs-on: ${{ matrix.os }}
     strategy:
      matrix:
       os: [windows-latest, macos-latest]
     needs: firstJob
     steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
         dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
